#login_wrapper {
  margin: auto;
  width: 30%;
  margin-top: 10%;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

#login_wrapper input {
  margin-top: 5px;
}

#login_wrapper input.button {
  font-size: 15px;
  width: 100%;
  margin-top: 5%;
}

#logout {
  position: absolute;
  top: 0;
  right: 0;
}

#logout * {
  padding: 5px;
}

#edit {
  margin: auto;
  margin-top: 30px;
  width: 90%;
}

#edit .input_set {
  margin: 10px 0;
}

#content_input {
  width: 100%;
}

button, input[type="submit"] {
  margin-top: 5px;
  margin-bottom: 5px;
}