.con_wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
}


.contact_wrapper {
  margin-top: 13%;
}

table {
  width: 88%;
  margin-left: 6%;
}

td {
  width: 33.33%;
  height: 100px;
  position: relative;
  text-align: center;
}

.hitbox {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
}

.hitbox a {
  margin-top: 18px;
  font-size: 40px;
  display: none;
}

.hitbox a:hover {
  text-decoration: none;
}

.hitbox:hover i {
  display: none;
}

.hitbox:hover a {
  display : block;
}

#email {
  margin-top: 24px;
  font-size: 28px;
  color: #D0676F;
  margin-left: -50%;
}

#github {
  color: #6AB594;
}

#linkedin {
  color: rgb(133, 155, 220);
}

.fa-6x {
  font-size: 6em;
}