html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

img#background {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#nav {
  z-index: 100;
  width: 72%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

#nav td {
  cursor: pointer;
  background: black;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-bottom: 15px;

  background-color: rgba(0, 0, 0, 0.65);
  -ms-transition: background-color .66s;
  -webkit-transition: background-color .66s;
  -moz-transition: background-color .66s;
  -o-transition: background-color .66s;
  transition: background-color .66s;
 /* opacity: 0.65;
  
  -ms-transition: opacity .66s;
  -webkit-transition: opacity .66s;
  -moz-transition: opacity .66s;
  -o-transition: opacity .66s;
  transition: opacity .66s;*/
}


#nav td:hover {

  background-color: rgba(0, 0, 0, 1);
  /*opacity: 0.99999;*/
}

/*
#background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}*/

#wrapper {
  width: 72%;
  height: 100%;
  margin: 0 auto;
  color: white;
  margin-top: 0;
  /*padding-top: 25px;*/
  
}

.article {
 /* opacity: 0.65;
  background: black;*/
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.article a {
  color: #F96B6B;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article img {
  width: 100%;
}

#context {
  position: fixed;
  top: 16%;
  left: 87%;
}

#context div {
  padding-top: 7px;
  margin-right: 7px;
  cursor: pointer;
}

#context div:hover {
  text-decoration: underline;
}

div.ar_wrapper {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

p:first-child {
  padding-top: 0;
}

p {
    font-weight: 300;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

hr {
  border: none;
  height: 1px;
  background-color: white;
}

.ar_title {
  margin-top: 10px;
  font-size: 35px;
  display: inline-block;
  max-width: 80%;
}

.ar_sep {
  display: inline-block;
  font-size: 30px;
  margin-left: 35px;
  margin-right: 35px;
}

.ar_date {
  display: inline-block;
}

.ar_footer {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 0;
  width: 20%;
}

.updated {
  right: 0;
  text-align: right;
  margin-bottom: 10px;
}