html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

img#background {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

#nav {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  /*border-bottom: 20px solid white;*/
}

#nav a {
  color: white;
  text-decoration: none;
}

a.title_link {
  color: white !important;
  text-decoration: none !important;
}

#title {
  margin-left: 20px;
  margin-top: 20px;
  display: inline;
  font-size: 67px;
  font-weight: 200;
  /*letter-spacing: -4px;
  word-spacing: 4px;*/
}

#pages {
  font-size: 20px;
  display: inline;
  float: right;
  margin-top: 28px;
  position: absolute;
  top: 0;
  right: 0;
}

#pages div {
  display: inline-block;
  position: relative;
  margin-right: 70px;
}

.page {
  color: white;
  text-decoration: none;
  transition: color 150ms linear;
}

#about.page:hover {
  color: #E17736;
}

#projects.page:hover {
  color: #6AB594;
}

#contact.page:hover {
  color: #D0676F;
}

#wrapper {
  width: 72%;
  height: 100%;
  margin-left: 12%;
  color: white;
  margin-top: 0;
  /*padding-top: 25px;*/
}

.article {
 /* opacity: 0.65;
  background: black;*/
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.article a, #context a {
  color: #F96B6B;
  text-decoration: none;
}

.article a:hover, #context a:hover {
  text-decoration: underline;
}

.article img {
  width: 100%;
}

#context {
  position: fixed;
  top: 25%;
  left: 85.33%;
}

#context div {
  padding-top: 7px;
  margin-right: 7px;
}

#context .clickable {
  cursor: pointer;
}

#context .con_month {
  margin-left: 5px;
  text-decoration: none;
}

#context .con_ar {
  margin-left: 5px;
}

#context .con_ar > a {
  
}

.collapse {
  display: none;
}

#older {
  position: fixed;
  top: 50%;
  left: 3%;
  font-size: 25px;
  display: block;
  /*cursor: pointer;*/
}

#older a {
  color: black;
  text-decoration: none;
}

#older a:hover {
  color: white;
}

#older a > div {
  display: inline;
}

#arrow {
  font-size: 30px;
}

div.ar_wrapper {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

p:first-child {
  padding-top: 0;
}

p {
    font-weight: 300;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

hr {
  border: none;
  height: 1px;
  background-color: white;
}

.ar_title {
  margin-top: 10px;
  font-size: 35px;
  display: inline-block;
  max-width: 80%;
}

.ar_sep {
  display: inline-block;
  font-size: 30px;
  margin-left: 35px;
  margin-right: 35px;
}

.ar_date {
  display: inline-block;
}

.ar_footer {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 0;
  width: 20%;
}

.updated {
  right: 0;
  text-align: right;
  margin-bottom: 10px;
}

input.button, button {
  width: 100px;
  font-size: 15px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

input.button:hover, button:hover {
  font-size: 15px;
  background-color: white;
  color: black;
}