div.article
  div.header
  div.ar_wrapper
    div.ar_header
      div.ar_title=article["title"]
      div.ar_sep |
      div.ar_date=formatDate(article["created"])
    hr
    div.content!=article.article
    if (!datesEqual(article["created"], article["updated"]))
      hr.ar_footer
      div.updated="updated: "+formatDate(article["updated"])
        