extends main

block head
  //-script(src="/static/javascript/test2.js")

block body
  div#wrapper(class=page_class)
    div.article-container
      div.glass
      div.article
        div.ar_wrapper
          div.header
            div.ar_header
              div.ar_title About
            hr
            div.content
              div.
                This blog was mainly a project I started to learn Node.js . I took the site's name from <a href="http://blue.carisenda.com/archives/cat_philip_larkin.html">a poem</a> by Philip Larkin. Right now toadwork.com runs Node + Express with MySQL for blog posts. I'm using <a href="http://linode.com">Linode</a> for hosting. 
              p.
                My name's Hal. I do full-stack web development.