extends main

block head
  //-script(src="/static/javascript/test2.js")

block body
  div#wrapper
    div.article
      div.ar_wrapper
        div.header
          div.ar_header
            div.ar_title About
          hr
          div.content
            p.
              Welcome to my weblog about tech, music and pop culture. 
            p.
              This site was built with Node.js + Express.js. The site's font is called Raleway and you can get it via <a href="http://www.google.com/fonts">Google Fonts</a> (which is really pretty excellent). The name of the blog comes from the lyrics of "Ya Hey" by Vampire Weekend.
            p.
              I graduated from college not too long ago and now I'm living and working in Cambridge, MA. I'm all about software, web design, literature and a good cup of black tea.