extends main

block head
  link(type="text/css" rel="stylesheet" href="/static/style/font-awesome.min.css")
  link(type="text/css" rel="stylesheet" href="/static/style/contact.css")

block body
  div#wrapper(class=page_class)
    div.article.contact_wrapper
      div.con_wrapper
        table
          tr
            td
              div.hitbox
                i.fa.fa-envelope.fa-6x
                a#email(href="mailto:hal.c.rogers@gmail.com") hal.c.rogers@gmail.com
            td
              div.hitbox
                i.fa.fa-github.fa-6x
                a#github(href="https://github.com/abvdasker") Github
            td
              div.hitbox
                i.fa.fa-linkedin-square.fa-6x
                a#linkedin(href="http://www.linkedin.com/pub/hal-rogers/13/a57/354/") LinkedIn