extends main

block head
  link(type="text/css" rel="stylesheet" href="/static/style/font-awesome.css")
  link(type="text/css" rel="stylesheet" href="/static/style/contact.css")

block body
  div#wrapper(class=page_class)
    div.article.contact_wrapper
      div.con_wrapper
        table
          tr
            td
              div#email.container
                div.str
                  a(href="mailto:hal.c.rogers@gmail.com") hal.c.rogers@gmail.com
                div.icon
            td
              div#facebook.container
                div.str
                   a(href="https://www.facebook.com/halcr1") Facebook
                div.icon
            td
              div#linkedin.container
                div.str
                  a(href="http://www.linkedin.com/pub/hal-rogers/13/a57/354") LinkedIn
                div.icon
        