extends main

block head
  //-script(src="/static/javascript/test2.js")

block context
  div This is a test button
  div Also a test button
  div Just another test button

block body
  div#wrapper
    div.article
      div.header
      div.ar_wrapper
        div.ar_header
          div.ar_title An Article Title
          div.ar_sep |
          div.ar_date  10-15-2013
        hr
        div.content
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis id augue vitae feugiat. Fusce lacus lacus, cursus ac neque id, cursus mattis purus. Pellentesque posuere eros nulla, at consectetur nulla malesuada sed. Vivamus rhoncus congue justo eget semper. <a href="http://www.google.com">Vivamus</a> lacinia viverra massa eget varius. Praesent placerat consectetur lorem sit amet hendrerit. Maecenas elementum sit amet leo vestibulum convallis. Nulla mollis rhoncus ante in venenatis. Phasellus commodo at diam eget bibendum. Sed vel tristique massa. In ac risus ut lectus convallis vestibulum a vitae odio. Suspendisse sit amet est neque.
          p.
            Quisque eu feugiat nunc. In pulvinar velit in lorem sollicitudin, a aliquet dolor molestie. Suspendisse accumsan, sapien vitae interdum lobortis, dui libero vestibulum mi, sit amet vulputate lectus mauris non ligula. Nullam massa sapien, fermentum eleifend turpis in, venenatis dictum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean gravida mi non purus volutpat tempor. Integer tincidunt eu tellus eget consequat. Vivamus porttitor convallis suscipit. Suspendisse vel elementum est. Pellentesque sem libero, posuere vel sagittis quis, vestibulum sit amet libero. Etiam in massa suscipit, consequat nisl et, semper risus.
          p.
            In sodales risus porttitor sem malesuada, ut fermentum orci blandit. Proin non odio eu justo rutrum varius. Cras tincidunt ornare accumsan. Maecenas vehicula orci mauris, quis malesuada nunc hendrerit eu. Fusce ullamcorper, dolor sed pretium cursus, urna magna ullamcorper libero, tempor ullamcorper magna felis vitae est. Fusce consectetur arcu at sapien vestibulum rhoncus. Nullam a risus feugiat, ultricies lacus in, ultricies libero. Integer vitae facilisis est. Aliquam aliquet ligula nec diam placerat, quis accumsan ante porta. Sed pretium nisi dolor, vel pharetra purus venenatis in. Nulla iaculis lobortis posuere. Sed condimentum sagittis ipsum, eget varius sapien facilisis convallis. Donec venenatis tellus non magna dictum, feugiat posuere leo elementum. In sit amet elit pellentesque ante tristique feugiat. Maecenas et venenatis metus.
          p.
            Phasellus ullamcorper nulla nec velit sagittis mattis. Vestibulum rhoncus posuere libero non blandit. Donec in massa et libero mollis eleifend. Fusce neque dui, gravida eu ipsum nec, feugiat malesuada eros. Mauris dui lacus, vehicula nec sapien ut, mollis euismod magna. Fusce sit amet tellus vitae ante aliquam convallis ut vel enim. Duis fringilla placerat eros vel vulputate. Nam ac est et erat vestibulum condimentum sit amet eget ligula. Nam porta odio in arcu euismod aliquam. Nulla in dolor tellus. Sed sit amet tempus nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor risus lectus. Etiam eget fermentum tortor.
    div.article
      div.ar_wrapper
        div.ar_header
          div.ar_title An Article Title
          div.ar_sep |
          div.ar_date  10-15-2013
        hr
        div.content
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.
          img(src="/static/image/flatirons-in-winter-chautauqua.jpg")
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.
    div.article
      div.ar_wrapper
        div.ar_header
          div.ar_title An Article Title
          div.ar_sep |
          div.ar_date  10-15-2013
        hr
        div.content
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.
          p.
            Nulla lacinia vel tellus quis vestibulum. Nunc at pellentesque nunc. Proin euismod iaculis nisi, quis bibendum nibh sollicitudin vel. Aliquam sit amet vehicula tellus. Nulla facilisi. In et commodo mi, eget tincidunt augue. Praesent quis augue est. Fusce aliquam, ante a pellentesque viverra, risus est auctor odio, ut interdum leo nisi in mi. Etiam faucibus viverra nibh, ac sodales elit dignissim a. Maecenas diam diam, cursus a posuere sit amet, semper id orci. Proin congue facilisis leo in venenatis. Proin hendrerit justo in massa feugiat, at ullamcorper augue tristique. Proin pharetra ante massa, ac pellentesque tortor suscipit varius. Ut tincidunt orci non orci tincidunt venenatis. Duis venenatis ac leo ut venenatis. Aenean sit amet eleifend nisi.