extends main

block head

block context
  - var context_offset = true
  include _context_history.jade

block older_block
  if (older != null)
    div#older
      a(href="/older/"+older)
        div#arrow &laquo; 
        div older

block body
  div#wrapper.offset
    for article in ar_obj
      include _article.jade
