extends main

block head
  //-script(src="/static/javascript/test2.js")

block context
  div This is a test button
  div Also a test button
  div Just another test button

block body
  div#wrapper
    for article in ar_obj
      include _article.jade
      