//- use blocks for templating
//- use extends to specify template
//- use includes to invert control for partials
//- jade is awesome

doctype html
html(lang='en')
  head
    | <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    | <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    | <meta name="viewport" content="width=device-width, user-scalabel=no">
    | <meta name="description" content="Weblog of Hal Rogers, developer."/>
    | <meta name="ROBOTS" content="INDEX, FOLLOW"> 
    script(src='/static/javascript/analytics.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    //- script(src="/static/javascript/clientMain.js")
    link(type="text/css" rel="stylesheet" href="/static/style/index2.css")
    title toad/work
    block head
    link(type="text/css" rel="stylesheet" href="/static/style/logo.css")
    
  body
    block body