extends layout

block head_ext
  link(type="text/css" rel="stylesheet" href="/static/style/logo.css")
  block head

block main
  block older_block
  div#context
    block context
  header#nav
    a(href="/")  
      div#title toad/work
    div#pages
      span
        div
          a#about(href="/about").page About
        div
          a#projects(href="/projects").page Projects
        div
          a#contact(href="/contact").page Contact
  block body