extends layout

block head

block main
  block older_block
  div#context
    block context
  header#nav 
    div#title 
      a(href="/") toad/work
      //-the_mind_blanks
    div#pages
      span
        div
          a#about(href="/about").page About
        div
          a#projects(href="/projects").page Projects
        div
          a#contact(href="/contact").page Contact
  block body