extends layout

block head

block main
  div#context
    block context
  div#nav 
    div#title 
      a(href="/") THIS BROKEN MACHINE
    div#pages
      span
        div
          a#about(href="/about").page About
        div
          a#projects(href="http://www.google.com").page Projects
        div
          a#contact(href="http://www.google.com").page Contact
  block body