extends main

block body
  div#wrapper(class=page_class)
    div.article
      div.ar_wrapper
        div.header
          div.ar_title
            a.title_link(href="http://awnword.org") AWNword.org
        hr
        div.content
          p.
            This is a wordpress blog for the Amherst Women's Network I helped build for a friend. It features a panel format à la <i>The New York Times'</i> Room For Debate and features responses from Amherst alumnae on a wide range of topics.
          a(href="http://awnword.org")
            img(src="/static/image/awnword_cap.jpg")
    div.article
      div.ar_wrapper
        div.header
          div.ar_title
            a.title_link(href="/static/pages/Polar.html") Polar Clock
        hr
        div.content
          p A polar clock made in pure JavaScript using the HTML5 Canvas element.
          a(href="/static/pages/Polar.html")
            img(src="/static/image/polar_cap.jpg")
        