div#left
  div#identity
    div#title toad/work
    div#icon
  div#menu
    div#search
      input(type="text" id="search_box" name="search_box")
      button Search
    div#nav
      div#about
        a(href="/about").nav About
      div#projects
        a(href="/projects").nav Projects
      div#contact
        a(href="/contact").nav Contact
      
