extends ./cms 

block cms
  div#login_wrapper
    h3 Login
    hr
    form(action="/cms/login-auth" method="post")#login
      |username: 
      input(type="text" name="username").username
      br
      |password: 
      input(type="password" name="password").password
      br
      input(type="submit" value="login").button