extends cms

block cms
  div#wrapper
    div#cms
      div#edit_main
        div#logout
          p You are logged in!
          form(action="/cms/logout" method="post")
            input(type="submit" value="Logout").button
        hr
        div#edit
          form(action="/cms/create" method="post")
            input(type="hidden" name="id")
            div
              label(for="title") Title:
              input(type="text" name="title_str" id="title_input")
            div
              label(for="image_url") Aticle Image:
              input(type="text" name="image_url" id="image_input")
            br
            div
              div Content:
              textarea(id="content" name="content_str" rows="25")
            input(type="submit" value="Save" id="content_save" class="button")
          button(onclick="previewContent()" style="width: 150px;") Update Preview 
            
    
    div#preview
      include ../_article.jade